<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/all_recipes.css">

  </head>
  <body>
    <div class="info">
      <h1><%= category.title %>-------</h1>
      <p>
        <%= category.desc %>
      </p>
    </div>

    <div class="products">
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
      <div class="pro-card">
        <div class="img">
          <a href=""><img src="" alt="" /></a>
        </div>

        <div class="desc">
          <p>Recipes By World Cuisine</p>
          <a href=""><h3>Lorem ipsum dolor sit amet consectetur.</h3></a>
          <span>By Ranjay Pratap</span>
        </div>
      </div>
    </div>
  </body>
</html>
