*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
a{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    
   
    border: 1px solid rgb(215, 226, 230);
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    padding: 20px 40px;
    color: rgb(33, 184, 33);
    
}

header .logo{
    font-weight: bold;
    font-size: 30px;
 

    width: 180px;
    margin: auto;
    

}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   margin-top: 20px;
}



 header .nav li a{
    text-decoration: none;
    color: rgb(33, 184, 33);
    font-weight: bolder;
    


    padding: 16px 8px;
   
    
}

header li a:hover{
    color: white;
    background-color: green;

}
.banner{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 50px;
   
}

.banner .top .title{
    font-size: 40px;
    padding: 10px 0;
    font-weight: bold;
}
.banner .top p{
    font-size: 23px;
    padding: 10px 0;
    margin-bottom: 30px;
}
.recipes{
    padding: 0 40px;
}
.recipes .title{
    padding-left: 14px;
    color: rgb(18, 182, 18);
}

.recipes .row{
    display: flex;
    flex-wrap: wrap;
}
.recipe-card {
    flex-basis: 23%;
    text-align: center;
    height: 250px;
    background-color: aqua;
    margin: 20px 10px;
    position: relative;
    background-image: url('https://www.vegrecipesofindia.com/wp-content/uploads/2018/12/paneer-fry-recipe-1-280x280.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.recipe-card .name{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.recipe-card .name a{
    padding: 8px 25px;
    background-color: white;
    font-weight: bold;
    color: green;
    font-size: 20px;
    border-radius: 5px;
}
.recipe-card .name a:hover{
    background-color: green;
    color: white;

    
}


     
.products{
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;

  
    
}
.products .title{
    flex-basis: 100%;
}
.products h1{
    text-align: center;
    display: block;
}
.products .pro-card{
    flex-basis: 23%;
    margin: 20px 10px;
    border: 1px solid rgb(234, 228, 228);
    
}
.pro-card .desc{
    padding: 8px 20px;
}
.pro-card .img{
    height: 250px;
    background-color: rgb(62, 57, 50);
    
}
.pro-card p{
    padding: 10px 0;
    color: grey;
}
.pro-card h3{
    padding: 4px 0;
    font-size: 23px;
}
.pro-card h3:hover{
    text-decoration: underline;
    color: rgb(74, 69, 69);
}


footer{
    text-align: center;
    padding: 30px;
    font-size: 20px;
    background-color: rgb(129, 112, 112);
    color: white;
}
